@font-face {
  font-family: 'Cuprum';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/web/cuprumbold.woff2') format('woff2'), url('../fonts/web/cuprumbold.woff') format('woff');
}

@font-face {
  font-family: 'Cuprum';
  font-weight: bold;
  font-style: italic;
  src: url('../fonts/web/cuprumbolditalic.woff2') format('woff2'), url('../fonts/web/cuprumbolditalic.woff') format('woff');
}

@font-face {
  font-family: 'Cuprum';
  font-weight: normal;
  font-style: italic;
  src: url('../fonts/web/cuprumitalic.woff2') format('woff2'), url('../fonts/web/cuprumitalic.woff') format('woff');
}

@font-face {
  font-family: 'Cuprum';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/web/cuprumregular.woff2') format('woff2'), url('../fonts/web/cuprumregular.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/web/ptsansregular.woff2') format('woff2'), url('../fonts/web/ptsansregular.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/web/ptsansbold.woff2') format('woff2'), url('../fonts/web/ptsansbold.woff') format('woff');
}

body {
  font-family: 'Cuprum', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  min-width: 960px;
}

a {
  text-decoration: none;
}

.visually-hidden {
  display: none;
}

.page-header-wrap {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.page-header-top {
  background-color: #293449;
}

.page-header-middle {
  display: flex;
}

.page-header-bottom {}

.main-navigation {
  font-size: 17px;
  line-height: 0.7;
  color: #ffffff;
  background-color: #32425c;
}

.site-menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.site-menu-item {
  display: flex;
}

.site-menu a {
  color: #ffffff;
}

.site-menu a:hover,
.site-menu a:focus {
  background-color: #293449;
}

.site-menu a:active {
  background-color: #1d2739;
  color: #93969c;
}

.promo {
  font-style: italic;
  color: #ee3643;
  font-size: 16px;
  line-height: 1.625;
}

.header-address-telephone {
  font-size: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
}

.header-address-text {
  font-size: 14px;
  line-height: 1.625;
  color: #32425c;
}

.user-navigation {
  display: flex;
  align-items: flex-start;
  list-style: none;
}

.user-navigation-item a {
  font-size: 21px;
  color: #000000;
}

.user-navigation-item a:hover,
.user-navigation-item a:focus {
  color: #ee3643;
}

.user-navigation-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.logo {
  background-color: #ee3643;
  color: #ffffff;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
  box-shadow: 0 5px #9c2730;
}

.logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px #91242c;
}

.user-menu {
  background-color: #293449;
  list-style: none;
  display: flex;
}

.user-menu-item {
  display: flex;
  align-items: flex-start;
}

.markers,
.basket,
.checkout {
  font-size: 17px;
  color: #ffffff;
  line-height: 1;
}

.checkout {
  background-color: #63a63e;
}

.markers:hover,
.basket:hover,
.markers:focus,
.basket:focus {
  background-color: #212a3a;
}

.checkout:hover,
.checkout:focus {
  background-color: #5fbb2d;
}

.markers:active,
.basket:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.checkout:active {
  background-color: #518534;
}

.search-wrap {
  display: flex;
}

.search-box {
  background-color: #293449;
}

.search-box input::placeholder {
  color: #ffffff;
}

.search-box input {
  background-color: #293449;
  border: none;
}

.search-box input:hover {
  background-color: #212a3a;
  color: #ffffff;
}

.search-box input:active,
.search-box input:focus {
  background-color: #ffffff;
  color: #000000;
}

.search-box input:focus::placeholder {
  color: #000000;
}

.offers-cards {
  display: flex;
}

.offers-card-list {
  display: flex;
}

.offers-card-list-column-left {
  display: flex;
  flex-direction: row;
}

.offers-card-list-column-right {
  display: flex;
  flex-direction: column;
}

.offers-card-list-item p {
  font-size: 24px;
  line-height: 1.25;
  font-weight: bold;
  color: #ffffff;
}

.offers-card-list-item a {
  font-size: 14px;
  line-height: 1.29;
}

.orange {
  background-color: #ffbf47;
}

.aqua {
  background-color: #3bbce3;
}

.purple {
  background-color: #dc91d8;
}

.green {
  background-color: #8ed78f;
}

.hot-top {
  display: flex;
  background-color: #f7f3ec;
}

.hot-top h2 {
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  color: #32425c;
}

.hot-list {
  display: flex;
  flex-direction: row;
}

.hot-list-item {
  font-weight: bold;
  width: 218px;
  text-align: center;
  border: 1px solid #cccccc;
}

.hot-list-item h3 {
  font-size: 18px;
  line-height: 1.11;
  color: #000000;
}

.hot-list-item p:first-child {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 1.18;
  color: #999999;
  text-decoration: line-through;
}

.hot-list-item p:last-child {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 1.18;
  color: #000000;
  background-color: #ee3643;
}

.manufacturers-list {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.manufacturers-list-item {
  display: flex;
  border: 1px solid #c5c5c5;
}

.services-top h2 {
  font-size: 30px;
  line-height: 1;
  color: #000000;
}

.services {
  background-color: #f4f7f9;
}

.services-top p {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.85;
  color: #000000;
}

.services-slider {
  display: flex;
}

.services-menu {
  display: flex;
  flex-direction: column;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.43;
  color: #32425c;
}

.label-controller {
  display: flex;
  color: #ffffff;
  background-color: #32425c;
}

.label-controller:hover,
.label-controller:focus {
  background-color: #32425c;
}

.slide-delivery,
.slide-guarantee,
.slide-credit {
  display: none;
}

.slide-delivery h3,
.slide-guarantee h3,
.slide-credit h3 {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 36px;
  line-height: 1;
  color: 32425c;
}

.slider-radio1:checked~.services-menu label[for='radio-1'],
.slider-radio2:checked~.services-menu label[for='radio-2'],
.slider-radio3:checked~.services-menu label[for='radio-3'] {
  color: #32425c;
  background-color: #ffffff;
}

.slider-radio1:checked~.slides .slide-delivery {
  display: block;
}

.slider-radio2:checked~.slides .slide-guarantee {
  display: block;
}

.slider-radio3:checked~.slides .slide-credit {
  display: block;
}

.wrap {
  display: flex;
}

.about h2 {
  font-size: 30px;
  text-transform: uppercase;
}

.about p {
  font-size: 13px;
  line-height: 1.85;
}

.partners {
  list-style: none;
}

.partners li {
  font-size: 18px;
  line-height: 1.11;
}

.button {
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  background-color: #ee3643;
}

.footer-top {
  background-color: #32425c;
}

.footer-bottom {
  background-color: #293449;
}

.footer-address,
.footer-address a {
  font-size: 18px;
  line-height: 1.33;
  color: #f3f7f9;
}

.offers-offers {
  list-style: none;
}

.offers-offers a {
  font-size: 18px;
  line-height: 1.33;
  color: #ffd180;
}

.copyrights {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
}

.footer-info p .footer-info a {
  font-size: 16px;
  line-height: 1.125;
}

.footer-info p {
  color: #ffffff;
}

.footer-info a {
  color: #ffd180;
}

.footer-info a:hover,
.footer-info a:focus {
  text-decoration: underline;
  text-decoration-color: #ffd180;
}

.footer-info a:active {
  text-decoration: none;
  color: #ee3643;
}

.username {
  font-size: 21px;
  line-height: 1;
  color: #000000;
}

.my-orders,
.my-account {
  font-size: 16px;
  line-height: 1.125;
  color: #32425c;
  text-decoration: underline;
  text-decoration-color: #32425c;
}

.breadcrumps {
  list-style: none;
}

.breadcrumps a {
  font-size: 13px;
  line-height: 1.4;
  color: #000000;
  font-family: 'PT Sans', Arial, sans-serif;
  text-transform: uppercase;
}

.page-title {
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
}

.legend-manufacturers {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 1.77;
  text-transform: uppercase;
}

.filter-label {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 1.33;
  text-transform: uppercase;
}

.show-button {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  background: none;
}

.product-name {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.11;
}